@font-face {
  font-family: 'Monument Grotesk';
  src: url('~/assets/fonts/ABCMonumentGrotesk-Regular.woff2') format('woff2'),
    url('~/assets/fonts/ABCMonumentGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
