@font-face {
  font-family: 'Monument Grotesk';
  src: url('~/assets/fonts/ABCMonumentGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('~/assets/fonts/ABCMonumentGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
